# file_monitor AppVeyor Configuration
# 
# TODO: Deployment
#

# We currently only officially support VS 2017
image: Visual Studio 2017

matrix:
  fast_finish: true

clone_folder: c:\projects\file_monitor

environment:
  BOOST_ROOT: 

before_build:
  - mkdir "c:\projects\file_monitor_build"
  - cd "c:\projects\file_monitor_build"
  - cmake -G "Visual Studio 15 2017 Win64" \
          -DBOOST_ROOT="C:/Libraries/boost_1_65_1" \
          "c:\projects\file_monitor"

build_script:
  - cmake --build "c:\projects\file_monitor_build" --config Release



